$Striking_Citrus_Yellow: #D6CE15;

body
{
    font-family: 'oswald', 'sans-serif';
    color: white;
}

.P_Header
{
    background-image: url("../img/header_background_2.jpg");

    .navbar
    {
        background-color: opacity(0%);

        a
        {
            color: white;
        }

        .navbar-brand
        {
            font-size: 30px;
        }

        .p_button
        {
            width: 35px;
            height: 35px;
            color: white;
        }
    }

    .carousel-inner
    {
        img
        {
            width: 100vh;
            height: 90vh;

            @media screen and (max-width: 992px)
            {
                margin: auto;
            }

            @media screen and (max-width:580px)
            {
                width: 100%;
                height: 100%
            }
        }

        .carousel-caption
        {
            position: absolute;
            left: 10%;
            top: 20%;
            width: 40%;

            @media screen and (max-width: 992px)
            {
                position: relative;
                width: 100%;
                left: 0;
                padding: 10px 30px;
                top: 50%;
            }

            h1
            {
                color: $Striking_Citrus_Yellow;
                font-family: 'Permanent Marker', 'sans-serif';
            }
        }
    }
}

.zumos
{
    background-color: #1B1B1B;

    .col
    {
        text-align: center;
        padding: 20px;
        img
        {
            max-width: 150px;
            margin-bottom: 10px;
        }
    }
}

.About
{
    background-color: #131313;

    .J_content
    {
        text-align: center;
        padding: 10px 20px;
        margin-top: 40px;

        h3
        {
            margin: 0 auto;
            margin-bottom: 20px;
            height: 50px;
            width: 100px;
            border-bottom: 1px solid $Striking_Citrus_Yellow;
        }

        @media screen and (max-width:580px)
        {
            width: 10px;
        }
    }
}
